# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
backend/venv/

# Environment variables
.env
backend/.env

# Django
db.sqlite3

# Node / Next
frontend/node_modules/
frontend/.next/

# OS
.DS_Store